@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222 47% 7%;
  --foreground: 213 31% 91%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
